<nav class="navbar navbar-expand-lg bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{% static 'images/ewik-logo.png' %}" alt="EWIK Logo" style="height: 40px; margin-right: 10px;">
      <span class="text-white font-weight-bold">EWIK</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% for link in menu_links %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
